<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="admin" class="com.example.restaurant.model.Admin">
		</bean>
		
		<bean id="adao" class="com.example.restaurant.dao.AdminDaoImplementation">
		</bean>
		
		<bean id="hotel" class="com.example.restaurant.model.Hotel">
		</bean>
		
		<bean id="hdao" class="com.example.restaurant.dao.HotelDaoImplementation">
		</bean>
		
		<bean id="room" class="com.example.restaurant.model.Room">
		</bean>
		
		<bean id="rdao" class="com.example.restaurant.dao.RoomDaoImplementation">
		</bean>
</beans>